  <div class="ws-viewer">

    <h1>
      Welcome to {{title}}!
    </h1>
    <p>
      This example will connect to a websocket server and start listening to it, printing the received value on screen
    </p>

    <button md-raised-button color="{{ isCurrentlyListening() ? 'warn' : 'primary' }}" (click)="toggleListening()">
      {{ isCurrentlyListening() ? 'Stop' : 'Start' }} listening
    </button>

    <div *ngIf="isCurrentlyListening()">

      <md-grid-list cols="1" rowHeight="fit">
        <md-grid-tile>
          <h2>{{ value }}</h2>
        </md-grid-tile>
      </md-grid-list>

      <md-progress-bar mode="query"></md-progress-bar>

    </div>

  </div>
