md-toolbar {
  padding: 0; 
}

md-sidenav {
  width: 300px;
}

md-sidenav-container {
  height: 100%;
}

.app{
    height: 100%;
    overflow: hidden;
}

.toolbar-button {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
  text-align: center;
  overflow: auto;
}