/* You can add global styles to this file, and also import other style files */
@import '~lato-font/css/lato-font.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Lato Medium'
);

//Override Roboto Angular Material font, including mat-base-typography and all components
@include angular-material-typography($custom-typography);

// some basic resets

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato Medium', sans-serif;
    height: 100%;
}
